h3 {
  color: white;
}

p {
  color: white;
}

.image-blocks {
  --columns: 2;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  column-gap: 20px;
  row-gap: 60px;
}

.image-block {
  width: 50vw;
  height: 50vh;
  object-fit: cover;
}

img.image {
  width: 50vw;
  height: 50vh;
  object-fit: cover;
}
